// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

body {
    font-family: system-ui;
    /* margin: 0; */
    padding: 0.5em;
    color: #610505;
    background-color: #f9efd4;
    unicode-bidi: isolate;
}

header {
    background-color: hsl(45, 88%, 53%);
    color: #fff8f8;
    padding: 0.2em;
    text-align: center;
    unicode-bidi: isolate;
    margin-block: initial;
    background-size: cover;
}

header h1 {
    margin: 0.2em;
    font-size: 4.5em;
    font-style: normal;
    font-variant: petite-caps;
}

h1 {
    flex-shrink: inherit;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: -2px;
    margin: 3em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: hsl(0deg 0% 0%);
    color: #894141;
    border-block-color: initial;
    border-block-end-color: revert-layer;
    border-block-style: inherit;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: hsl(45, 88%, 53%);
    border-bottom: 2px solid hsl(45, 88%, 53%);
    /* padding-bottom: 0em; */
    /* margin-bottom: 0em; */
}

.job,
.education {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #b400ff0a;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
}

footer {
    background-color: hsl(45, 88%, 53%);
    color: white;
    text-align: center;
    padding: 0.5em;
}

footer a {
    color: white;
    text-decoration: none

